h1 {
   font-family: 'Times New Roman'; 
   color: #264C21 ;
}  


h3 {
    font-family: 'Times New Roman'; 
    color: #366B2F ;
} 

 ul {
    font-family: 'Times New Roman'; 
    color: #408537 ;
 } 

 p {
    font-family: 'Times New Roman'; 
    color: #408537 ;
    text-align: justify;
 } 

 html {
    background-color: #F2DAB8 ;
    margin-left: 600px;
    margin-right: 500px;
    border-width: 2px;
    border-color: #855E37;
    border-style: solid;
 } 

 img {
    margin-left: 500px;
    width: 250px;
    height: 250px;
    border-style: solid;
    border-color: #855E37;
    border-width: 5px;
    border-radius: 2px;

} 
body {
    background-color: #F2DAB8 ;
 } 